<div class="container">

    <h2>Lista de Tareas</h2>

    <!-- Ingreso de Nueva Tarea -->
    <form role="form" ng-submit="addTodo()">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="todo" placeholder="¿Necesita hacer algo?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Agregar">
        </span>
            </div>
        </div>
    </form>
    <p></p>

    <!-- Listado de Tareas -->
    <div ui-sortable ng-model="todos">
        <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
            <input type="text" ng-model="todo" class="form-control" >
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Eliminar">X</button>
      </span>
        </p>
    </div>

</div>